@media only screen and (min-width: 320px) {
    body {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-height: 600px) {
    body {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

@media only screen and (min-height: 900px) {
    body {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #4b4747;
    }
}

header {
    background-color:#333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    border-radius: 30px;
    width: 88%;
    margin: 0 auto;
    box-shadow: 0  0 10px #cdc9c9;
    margin-top: 10px;
    user-select: none;
}

nav {
    padding: 5px;
    text-align: center;
}

ul {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    border-radius: 30px;
    width: 44%;
    margin: 0 auto;
    box-shadow: 0 0 10px #cdc9c9;
    margin-top: 2px;
    margin-bottom: 5px;
    list-style-type: none;
    user-select: none;
    display: inline-flex;
    justify-content: center;
}

a {
    color: #fff;
    text-decoration: none;
    user-select: none;
}

.gallery {
    text-align: center;
    margin: 1em 0;
}

.carousel {
    display: inline-block;
    overflow: visible;
}

img {
    width: 88%;
    transition: transform 0.9s ease;
    border-radius: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}

img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    border-radius: 30px;
    width: 88%;
    margin: 0 auto;
    box-shadow: 0 0 10px #cdc9c9;
    margin-top: 25px;
    margin-bottom: 10px;
    user-select: none;
}